body {
    background-color: whitesmoke;
}

h2 {
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
}

div.wrapper {
    background-color: black;
}

div.gallery {
    border: 1px solid #ccc;
	margin: 5px;
	float: left;
	width: 180px;
}

div.gallery:hover {
    border: 1px solid #000;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.2s;
}

div.gallery img {
	position: relative;
	float: left;
    width: 100%;
    height: auto;
	overflow: hidden;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    height: 20%;
 }

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.topnav {
	position: relative;
	list-style-type: none;
    float: left;
    background-color: whitesmoke;
}

.topnav a {
	margin-left: auto;
    float: left;
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
 }

.topnav a:hover {
    background-color: orchid;
    color: whitesmoke;
}

myTopnav {
    float: center;
}

.buttercream {
    position: relative;
    display: block;
    margin: auto;
    width: 40%;
    height: auto;
    border: 8px solid #f3f3f3;
}